.appbar {
    --background: #0d1a0d;
    --color: #ffffff;
    --border-width: 0 0 1px 0;
    --border-color: rgba(255, 255, 255, 0.08);
    --border-style: solid;
}

.appbar--transparent {
    --background: transparent;
    --border-color: transparent;
}
