
/* Imported fonts */
@font-face {
    font-family: 'Kiona-Regular';  /* Títulos h1, h2 */
    font-style: normal;
    font-weight: normal;
    src: url('../public/assets/fonts/Kiona-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';  /* Cuerpo */
    font-style: normal;
    font-weight: normal;
    src: url('../public/assets/fonts/Raleway.ttf');
}

@font-face {
    font-family: 'Cinzel';  /* Subtítutlos h3, h4,  */
    font-style: normal;
    font-weight: normal;
    src: url('../public/assets/fonts/Cinzel.ttf');
}

.header-collapse-condense ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-toolbar.transparent {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-content {
    --background: none;
    --padding-top: 10%;
}
    
ion-content.bg-img {
    background-image: url('../public/assets/bg-img.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: 'Kiona-Regular';
}

h3, h4 {
    font-family: 'Cinzel';
}