.bg {
    background-color: var(--novus-article-background);
}

.title__document{
    color: var(--ion-color-primary-contrast);
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    font-family:system-ui;
    word-wrap: break-word;
    margin-inline: auto;
}
.imageArticle{
    border-radius: 20px;
}

.content__document {
    color: var(--ion-color-primary-contrast);
    font-size: medium;
    font-family:sans-serif;
    white-space: normal;
    line-height: 1em;
    word-wrap: break-word;
   
}

.content-row {
    text-align: center;
    text-align: justify;
    margin-inline: 1rem;
}