.bg {
    background-color: var(--novus-article-background);
}

.title__document{
    color: var(--ion-color-primary-contrast);
    font-size: medium;
    font-weight: bold;
    font-family:system-ui;
    text-transform: uppercase;
}
.imageArticle{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 75vh;
    width: 100vw;
    object-fit: cover;

}

.content__document {
    color: var(--ion-color-primary-contrast);
    font-family:sans-serif;
}

.content-row {
    margin-inline: 1rem;
}